@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
@import 'ccg-rewards/rewards.css';

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.bg-pattern {
    background-image: url('../public/Pattern.svg');
    background-repeat: repeat-x;
    width: 100%;
    height: 60px;
}
.benefit-hero img {
    width: 564px !important;
    height: 541px;
}