@import 'ccgx-rewards/rewards.css';

/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.bg-pattern {
    background-image: url('../public/Pattern.svg');
    background-repeat: repeat-x;
    width: 100%;
    height: 60px;
}

.benefit-hero img {
    width: 564px !important;
    height: 541px;
}

.custom-threeColumnCard>div {
    flex-wrap: wrap;
    margin-top: 48px;
    gap: 50px;
}

.custom-twoColumnSection {
    flex-wrap: wrap;
    gap: 50px
}

@media (min-width: 768px) {
    .custom-threeColumnCard>div {
        flex-wrap: nowrap;
    }

    .custom-threeColumnCard>h4 {
        width: 40%;
        margin-bottom: 12px;
    }

    .custom-threeColumnCard>p {
        margin-bottom: 0px;
        max-width: 50%;
    }

    .custom-threeColumnCard h2 {
        width: 65%;
    }

    .custom-twoColumnSection {
        flex-wrap: nowrap;
    }

    .custom-twoColumnSection .body-text {
        width: 55%;
    }
}